.App {
}

.App-logo {
  pointer-events: none;
}

header {
  background-color: #8992a2;
  min-height: 60px;
  font-size: calc(14px + 2vmin);
  color: white;
  text-align: left;
}

header img {
  float:left;
  padding: 5px;
  height: 50px;
}

header p {
  margin: 0;
  padding-top: 10px;
}

.App-link {
  color: #61dafb;
}

.subMenu {
  background: rgba(230, 226, 248, 0.99);
  border: black 2px solid;
  border-radius: 6px;
  margin: 5px 0 0 0;
}

.subMenu > .subShown {
  display: block;
}

.subMenu > .subHidden {
  display: none;
}

.subMenu > div {
  padding: 5px 5px 5px 10px;
}

.subMenu h3 {
  margin: 0;
  padding: 4px 0 2px 4px;
  background: #181869;
  color: white;
}

.subMenu > h3 > button {
  background: #41d3f5;
  border-radius: 3px;
  border: black 1px solid;
  position: relative;
  top: -2px;
  margin-right: 4px;
}


.upDownControl {
  background-color: #61dafb;
  margin: 5px 0;
  padding: 5px !important;
  text-align: center;
  border-radius: 5px;
  min-height: 27px;
}

.upDownControl button {
  background: cornflowerblue;
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px 10px;
}

.upDownControl button:hover {
  background: #41d3f5;
}

.upDownControl button:active {
  background: blueviolet;
  border-color: aqua;
}

.upDownControl button:disabled {
  background: rgb(42, 174, 182);
  border-color: rgb(42, 174, 182);
}

.upDownControl .leftBtn {
  float: left;
}

.upDownControl .rightBtn {
  float: right;
  margin-left: 3px;
}

.upDownControl form {
  text-align: left;
}

.upDownControl ul {
  text-align: left;
}

.upDownControl p {
  text-align: left;
  margin: 4px 0;
}

.upDownControl input {
  margin-left: 10px;
}

button.actionableItem {
  background: cornflowerblue;
  border: solid black 1px;
  border-radius: 5px;
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

button.actionableItem:active {
  background: blueviolet;
  border-color: aqua;
}

button.actionableItem:disabled {
  background: gray;
}

button.actionableItem:hover {
  background: #41d3f5;
}

.colorControl {
  border: #555 solid 1px;
  text-shadow: 2px 2px antiquewhite;
}

.itemHasUpdated {
  background: rgb(81,98,184);
}

.pendingUpdate {
  background: gray;
}

.errorDuringUpdate {
  background: red;
  color: white;
}

.dialogShown {
  background: #181869;
  color: #61dafb;
  border-radius: 6px;
}

.dialogShown button {
  width: 50%;
  border: solid 1px black;
  border-radius: 4px;
  font-size: 15px;
  background: #41d3f5;
  padding: 7px 0;
}

.dialogHidden {
  display: none;
}

.settingsButton {
  float: right;
  font-size: 24px;
  background: #181869;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 5px; margin-right: 5px;
  padding: 5px 10px;
  color: #ffffff;
}

.settingsForm {
  display: block;
  padding: 1em;
}
.settingsForm label {
  display: block;
  clear: both;
  margin-top: 5px;
}

.settingsForm button {
  float: right;
  margin-top: 8px;
  line-height: 1.5em;
  font-size: 16px;
  background: #181869;
  color: white;
  border-radius: 4px;
}

.settingsForm span {
  margin-top: 5px;
  display: block;
  overflow: hidden;
  padding: 4px;
  margin-right: 10px;
}

.settingsForm input {
  width: 98%;
  padding: 5px;
}

img.pairing-image {
  float: left;
  margin: 10px;
}